.f1{
    margin-top: 660px;
}
.features{
    height: 80vh; 
     padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;

}
.text_col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img_col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img_col img{
     display: block;
     width: 90%;
     margin: auto ;
}

/* new */

.feature {
    display: flex;
    flex-wrap: wrap;
}
.box3,.box4,.box5 {
    height: 12.5%;
}
.des {
    padding: 16% 0px;
}

.box {
    width: 100%;
    padding: 10px 150px;
  
}
.img {

    height: 445px;
    width: 600px;
    margin-right: 120px;
}
.img1{
    margin-left:120px ;
}

.small-heading {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.vid2 {
    height: 439px;
    width: 380px;
  
}

hr{
    height: 5px;
    background-color:gray;
    color: gray;
    opacity: 0.3;
}
.img1{
    height: 400px;
}

